* {
    border: 1px solid red;
    background-color: blue;
    color: brown;
}

.edit-listing {

}

.form-content {
    
}
.header {
    
}
.listing-format {
    
}
.posts-header {
    
}
.reply-btn {
    
}
.title {
    
}
/* .navbar */